# Environment 
.env
.cursor/
.claude/
CLAUDE.md


# Compiled binaries
dist/

# Go test cache
*.test

# macOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
